- name: Docker Image Build
  hosts: ansible_host
  gather_facts: false

  tasks:
    - command: docker image build -t java-hello-world java-hello-world/
    - command: docker container rm -f java-hello-world
      ignore_errrors: yes
    - command: docker container run -d -p 8080:8080 java-hello-world --name java-hello-world
